body {
  margin: 0; }

nav {
  background-color: #003333;
  height: 5em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0; }
  nav .logo-name {
    font-family: 'Pacifico', cursive;
    color: #00A9A9;
    font-size: 2em;
    padding-top: .25em;
    margin-left: 1em; }

.test {
  height: 4.25em;
  width: 49.9%;
  background-color: #003333;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 25.1%; }
  .test form #text-box {
    background-color: rgba(102, 255, 153, 0.2);
    margin-top: 2em;
    height: 2em;
    width: 11em;
    margin-left: 0.5em;
    border: none;
    color: white; }
  .test form #user-name {
    background-color: rgba(102, 255, 153, 0.2);
    margin-top: 2em;
    height: 2em;
    width: 13em;
    margin-left: 0.5em;
    border: none;
    color: white; }
  .test form button {
    background-color: rgba(102, 255, 153, 0.2);
    margin-top: 2em;
    height: 2em;
    margin-left: 0.5em;
    border: none;
    color: white; }
  .test form #purr {
    background-color: rgba(102, 255, 153, 0.2);
    margin-top: 2em;
    height: 2em;
    margin-left: 0.5em;
    border: none;
    color: white; }
  .test form span {
    font-family: 'Pacifico', cursive;
    color: rgba(62, 149, 149, 0.5);
    margin-left: .2em; }

.cat1 {
  height: 50em;
  width: 24.9%;
  background-image: url(http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/8/16/1345113241935/A-very-cute-kitten-008.jpg);
  background-size: contain;
  position: fixed;
  margin-top: 5em;
  float: left; }

.cat2 {
  height: 50em;
  width: 27%;
  background-image: url(http://images4.fanpop.com/image/photos/16000000/Cute-Kitten-kittens-16096139-1280-800.jpg);
  background-size: contain;
  position: fixed;
  margin-top: 5em;
  margin-left: 75.1%;
  float: right; }

#chat-nav {
  background-color: rgba(0, 102, 51, 0.7);
  height: 100%;
  width: 49%;
  margin: 0 auto;
  border-left: .15em solid #003333;
  border-right: .15em solid #003333;
  padding-left: .5em; }
  #chat-nav #chat-field {
    padding-top: 5em; }
  #chat-nav #chat-field div {
    font-family: sans-serif;
    line-height: 1.5em; }
